<div class="row">
  <div class="col-sm-9">
      <p>
          Interdum etiam tellus sollicitudin. Dignissim arcu praesent turpis justo ultrices vel. Nam mauris diam enim hac ipsum, a netus ante in eu libero sed. Facilisis molestie lorem massa varius platea faucibus in. Euismod magnis at volutpat felis habitant nullam tristique! Accumsan fermentum conubia dolor ultricies auctor habitant vehicula. Condimentum lacinia vitae dignissim facilisi sagittis egestas diam. Interdum donec consequat luctus quisque. Eleifend eu congue lobortis volutpat amet varius. Est, nulla quam.
      </p>
      <p>
          Nascetur sed torquent enim? Rhoncus duis magnis metus, aliquet nibh dictumst hendrerit himenaeos blandit auctor. Nibh vulputate massa tristique commodo lobortis consequat risus vehicula vel. Placerat tortor suscipit facilisis interdum. Luctus habitasse tortor faucibus pellentesque euismod vel vel tempus consequat potenti primis? Etiam volutpat egestas habitant turpis neque, lobortis orci lectus tempus. Vivamus cras litora nascetur ac pharetra facilisis himenaeos natoque! Risus duis in ac lacinia sociosqu eget.
      </p>
      <p>
          Primis ridiculus maecenas nam ipsum nascetur tempus lacinia amet dolor feugiat ac. Molestie leo mi tempor dis quam faucibus iaculis dictumst lacinia in quisque bibendum. Per, ultricies risus conubia adipiscing netus posuere at natoque velit donec ridiculus. Sociosqu, mauris parturient potenti dapibus netus ut. Vivamus ante sem habitasse nulla cursus praesent libero in molestie lobortis nulla? Sapien luctus odio mattis pharetra non! Dis interdum urna imperdiet luctus eros aliquet potenti class porttitor. Pellentesque donec consequat hac rhoncus eros tempus nam aliquet fermentum cursus. Vel fusce, tortor justo erat! Libero cursus curabitur tincidunt, nostra commodo.
      </p>
      <p>
          Taciti fringilla eleifend quisque nec tellus dignissim scelerisque parturient per dolor ante. Convallis ut dapibus commodo. Senectus nostra faucibus, et sem et elit imperdiet fusce sed pharetra imperdiet nostra? Enim vitae facilisi non taciti a pharetra turpis duis egestas. Vestibulum eget, eleifend et nulla class purus arcu venenatis conubia sit vestibulum himenaeos? Risus viverra eget, magnis sit. Purus quis vivamus magnis nam dui primis suscipit. Inceptos, dui ultricies pulvinar. Fusce nibh lorem hac conubia. Praesent lectus vestibulum cras felis tristique, ridiculus aptent maecenas.
      </p>


  </div>
  <div class="col-sm-3">
      <h3>Social Media</h3>
      <ul class="links">
          <li>
              <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
                  <i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a>
          </li>
          <li>
              <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
                  <i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a>
          </li>
          <li>
              <a href="https://gmail.com" target="_blank" rel="noopener noreferrer">
                  <i class="fa fa-envelope" aria-hidden="true"></i> Email</a>
          </li>
      </ul>
  </div>
</div>
